<!DOCTYPE html>
<html lang="en" locale="GB" class="no-js">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=0" />
    <title>Hi</title>
    <link rel="stylesheet" href="./billboard.css" />
    <link rel="stylesheet" href="css/waveform.css" />
    <link rel="stylesheet" href="css/index.css" />
    <script type="text/javascript" defer="defer">(function () {var _ = document.documentElement; _.className = _.className.replace("no-js", "js");}());</script>
    <!--<noscript>
        <link rel="stylesheet" href="css/noscript.css" />
    </noscript>--->
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <img alt="Typescript logo 2020"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/512px-Typescript_logo_2020.svg.png"
                    height="48">
                <span>String Modelling</span>
            </a>
        </nav>
    </header>
    <main>
        <div class="container">
            <!--<article class="row">
                <h1>String Modelling</h1>
                <p>Here is some string modelling:</p>
                <waveform id="waveFormVisualiser">
                    <wave></wave>
                    <audio src="" controls></audio>
                </waveform>
            </article>-->
            <!--<article class="row">
                <h1>Tools used</h1>
                <ul>
                    <li><a href="https://typescriptlang.org/">TypeScript</a></li>
                    <li><a href="https://tonejs.github.io/">Tonejs</a></li>
                    <li><a href="https://naver.github.io/billboard.js/">Billboard.js</a></li>
                </ul>
            </article>-->
            <article class="row">
                <div id="graph"></div>
            </article>
        </div>
    </main>
    <footer>
        <nav>
            <a href="https://ared.scot">Created with <span class="heart">&hearts;</span> by A Roman Empire Divided</a>
        </nav>
    </footer>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="./browser.js"></script>
</body>

</html>